@import url('./CSS/Header.css');
@import url('./CSS/Aside_bar.css');
@import url('./CSS/Cards_stat.css');
@import url('./CSS/Table.css');

* {
    padding: 0;
    margin: 0;
}

html, body {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    overflow: hidden;

    background-color: #6a96b0;
}

main {
    height: 100vh;
    width: 80vw;
    
    flex: 1;
    overflow-y: auto;

    background-color: #dde8ef;

    font-family: 'DM Sans', sans-serif;
}

